body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: #f4f6f8;
}

header {
  background: #0f172a;
  color: white;
  padding: 20px;
  text-align: center;
}

.container {
  max-width: 900px;
  margin: auto;
  padding: 20px;
}

.card {
  display: block;
  background: white;
  padding: 15px;
  margin: 10px 0;
  border-radius: 10px;
  text-decoration: none;
  color: black;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  transition: 0.2s;
}

.card:hover {
  transform: translateY(-3px);
}
